.App {
  text-align: center;
  padding: 20px;
}
.search-function {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.delete-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}