.App {
  text-align: center;
  padding: 20px;
}
.search-function {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.search-results {
  display: flex;
  flex-direction: column; 
}
.recommendations {
  padding: 10px;
  border: 1px solid #ccc;
  /* Set line-height to match the search bar input height */
  line-height: 0.5em; /* Adjust the value as needed */
}
